@import "../scss/main.scss";
@import "../scss/mixins";

$color-primary: #55c57a;
$color-primary-light: #eb8e9d;
$color-primary-dark: #28b485;

$color-secondary-light: #0084ff;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #7dfa43;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: rgb(194, 50, 50);
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.myCourses {
  background-color: $color-white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid $color-white;
}

.mycourse-row {
  max-width: $grid-width;
  margin: 0 auto;
  width: 100%;
  margin-left: 32px;
  margin-top: 35px;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
}

.mycourse-card {
  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  width:200%;

  &__cta {
    // margin-top: 400px;
    text-decoration: none;
    border: 2px solid black;
    padding: 20px 15px;
    border-radius: 10px;
    font-size: larger;
  }

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    width: 160%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      // background-color: $color-white;
      text-align: center;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &--back {
      transform: rotateY(180deg);
      // width: 100%;

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(153, 7, 7, 0.8), rgba(240, 58, 58, 0.8)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    
    &--1 {
      background-image: llinear-gradient(to right bottom, black, rgba(86,181,248,0.8))
        // url(../images/Signup-img.jpg);
      // width: 100%;
    }
  }

  &__heading {
    display: grid;
    font-size: 2.8rem;
    padding: 3px;
    text-transform: uppercase;
    text-align: justify;
    color: $color-white;
    position: inherit;
    top: 5rem;
    right: 4.5rem;
    width: 75%;
  }

  &__heading-span {
    text-align: center;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      color: white;
      font-size: xx-large;
    }
  }

  &__details {
    // padding: 3rem;
    display: grid;
    padding: 0%;
    // grid-template-columns: repeat(1, 3fr);
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      text-align:right;
      li {
        font-size: 20px;
        padding: 1rem;
        color: white;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
}

.heading-secondary-courses {
  color: white;
  margin-bottom: 20px;
}

.heading-secondary-catalog {
  color: white;
  padding-top: 20px;
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flexbox {
  display: grid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #333;
  background-color: #333;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 0%;
}

.flexbox-myCourses {
  display: grid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid $color-white;
  background-color: $color-white;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 0%;
}

.mycourse-skillsList {
  padding: 20px;
  list-style-type: none;
  text-align: left;
  color: white;
}

.mycourse-keyPointsList {
  padding: 20px;
  list-style-type: none;
  text-align: right;
  color: white;
}

.mycourse-jobsList {
  padding: 20px;
  list-style-type: none;
  text-align: right;
  color: white;
}

.btn--green {
  text-decoration: none;
  border: 2px solid black;
  padding: 20px 15px;
  border-radius: 10px;
  font-size: larger;
  background-color: #d0e2f3;
}